@media only screen and (min-width: 800px) {
    #banner {
        margin-left: -2em;
    }
}

#banner{
    width: 100vw;
    margin-top: -1em;
    height: auto;
}

#btn-load-latest{
    display: inline-block;
}

#page-content{
    text-align: center;
}