@media only screen and (min-width: 800px) {
    #banner {
        margin-left: -2em;
    }
}

#banner{
    overflow: hidden;
    margin-top: -1em;
    width: 100vw;
}

#banner img{
    width: 100%;
    transform: scale(1.2, 1.2);
    transform-origin: 50% 50%;
    height: auto;
}

#btn-load-latest{
    display: inline-block;
}

#page-content{
    text-align: center;
}