:root{
    --main-color:#4BCAB1;
    --main-color-dark:#30A68F;
    --main-color-light:#aaaaaa;
    --background-color: #efefef;

    --text-color: #333;
    --text-color-light: #ffffff;

    --color-warning-background: #f2dca2;
    --color-warning-text: #82630e;
}