#page-content{
    display: flex;
    align-items: flex-start;
}

.profile-content{
    width: 100%;
}

.profile-info > .name {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--main-color-dark);
}

.profile-info > .pointsTitle {
    display: inline-block;
    padding: 1em;
    font-size: 1em;
    color: var(--main-color-dark);
}

.profile-info{
    min-width: 20em;
    max-width: 20em;
}

.profile-info > img{
    width: 100%;
}

.profile-info > p{
    padding: 0em 1em;
}

.profile-content{
    text-align: center;
}

.user-points-div .pointsTitle {
    color: var(--main-color-dark);
}

.cog-wheel {
    color: var(--color-grey);
    transition-property: transform;
    transition-duration: 1s;
    cursor: pointer;
}

.cog-wheel:hover {
    color: var(--main-color-dark);
    transform: rotate(300deg);
}

.profile-info .footer {
    display: flex;
    padding: 1em;
    line-height: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    #page-content{
        flex-direction: column;
    }
    .profile-info{
        display: inline-block;
        margin: 0 auto;
    }
}
